.ccolor {
    color: #6ebe00;
}

.pic {
    width: 96px;
    height: 96px;
}

.text-justify {
    text-align: justify;
}

.glyph-lg {
    font-size: 50px;
}

.glyph-md {
    font-size: 25px;
}

.glyph-sm {
    font-size: 5px;
}

.sep-top {
    margin-top: 50px;
}

@media{
    .overlay {
        padding: 50px 25px;
    }
}